[submodule "vendor/mf-core"]
	path = vendor/mf-core
	url = ssh://git@github.com/module-federation/core.git
[submodule "vendor/zephyr-packages"]
	path = vendor/zephyr-packages
	url = ssh://git@github.com/ZephyrCloudIO/zephyr-packages.git
